#heading{
    text-align: center;
     font-size: 40px;
    font-weight: 6;
    padding: 30px;
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
#main {
    margin: auto;
    width: 50%;
    border: 3px solid rgba(123, 123, 123, 0.1);
    
   
    height: 100%;
    padding: 40px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
    }
    
    @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration-color: white;
    color: aliceblue;
  }
  
  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input, select, p {
    padding: 0.5rem;
    border: 2px solid rgba(204, 204, 204, 0.263);
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
    p {
        width: 180px;
      text-align: center;
      
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.138);
    border: 2px solid rgba(204, 204, 204, 0.741);
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  